security:
    password_hashers:
        App\Entity\User: 'auto'
    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email
    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        api_login:
            pattern: ^/api/auth/login
            stateless: true
            security: false
        api_refresh:
            pattern: ^/api/auth/refresh
            stateless: true
            security: false
        main:
            pattern: ^/api
            stateless: true
            provider: app_user_provider
            jwt: ~

    access_control:
        - { path: ^/api/auth/login$, roles: PUBLIC_ACCESS }
        - { path: ^/api/auth/refresh$, roles: PUBLIC_ACCESS }
        - { path: ^/api/auth/reset-password/confirm$, roles: PUBLIC_ACCESS }
        - { path: ^/api/info, roles: PUBLIC_ACCESS }
        - { path: ^/api/doc, roles: PUBLIC_ACCESS }
        - { path: ^/api/doc\.json$, roles: PUBLIC_ACCESS }
        - { path: ^/api, roles: IS_AUTHENTICATED_FULLY }

when@test:
    security:
        password_hashers:
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4
                time_cost: 3
                memory_cost: 10
