POSTGRES_USER=app
POSTGRES_PASSWORD=app
POSTGRES_DB=app
POSTGRES_VERSION=16
MAILER_FROM=no-reply@example.test
CADDY_MERCURE_JWT_SECRET=change-me-dev-secret
SERVER_NAME=:80
CADDY_GLOBAL_OPTIONS=auto_https off
